{% extends "main_page.html" %}

{% block content %}
<h1>Про нас</h1>
<div class="block">
    <q>Піцерія "Смак Італії" — це затишне місце, де можна насолоджуватися атмосферою справжньої Італії, не виходячи за межі вашого міста. Відразу при вході вас зустрічає аромат свіжої піци та приємна музика, створюючи ідеальний фон для вечірнього відпочинку.

Меню "Смак Італії" вражає своєю різноманітністю та вишуканістю страв. Піци приготовуються за найкращими традиціями італійської кухні, використовуючи тільки найсвіжіші та якісні інгредієнти. Великий вибір тіста, соусів та начинок дозволяє кожному вибрати піцу за своїм власним уподобанням.

"Смак Італії" - це не просто місце для поїдання, але і особливий кулінарний досвід, який залишить приємні спогади та захочеться повертатися сюди знову та знову.
    </q>
{% endblock content %}
</div>