{% extends "main_page.html" %}

{% block content %}
 <h1>МЕНЮ</h1>
    <div class="block">
    <p>
        <table>
            <tr>
                <th>Назва</th>
                <th>Інгрідієнти</th>
                <th>Ціна</th>
            </tr>
            <tr>
                <td>Маргарита</td>
                <td>Томатний соус, Моцарела, Помідори, Базилік, Оливкова олія, Сіль, Перець</td>
                <td>150 грн</td>
            </tr>
            <tr>
                <td>Пепероні</td>
                <td>Томатний соус, Моцарела, Пепероні (ковбаски), Оливки, Сіль, Перець</td>
                <td>170 грн</td>
            </tr>
            <tr>
                <td>Чотири сира</td>
                <td>Сир горгонзола, Моцарела, Пармезан, Сир дор-блю, Часник, Оливкова олія</td>
                <td>180 грн</td>
            </tr>
            <tr>
                <td>Гавайська</td>
                <td>Тісто, Томатний соус, Моцарела, Шинка, Ананаси, Сіль, Перець</td>
                <td>160 грн</td>
            </tr>
            <tr>
                <td>Вегетаріанська</td>
                <td>Томатний соус, Моцарела, Помідори, Перець, Гриби, Оливки, Сіль, Перець</td>
                <td>175 грн</td>
            </tr>
        </table>
    </p>
    </div>
    <a href="{{ url_for('main_page') }}"><p>Головна</p></a>
{% endblock content %}